.post-img {
    height: 404px;
    overflow: hidden;
}

.post-img img {
    height: 100%;
    width: 100%;
}

.blog-post-content h1 {
    text-align: center;
}

.blog-post-content p {
    font-size: 22px;
}

.blog-post-content ol {
    font-size: 20px;
    word-break: break-all;
}

.blog-post-content ol li {
    list-style-position: inside;
    padding: 0;
}

.row {
    display: flex;
}

.more-post {
    flex-direction: column;
    align-items: center;
}

.blogpost-meta {
    display: flex;
    justify-content: space-between;
}

.author-info {
    margin: 12px 0;
}

.author-info div {
    padding: 4px 0px;
    font-family: var(--font2);
}

.social {
    padding-right: 50px;
    align-self: center;
    display: flex;
}

.icon {
    border-radius: 5px;
}

.icon:hover {
    cursor: pointer;
    background: lightslategray;
}