@media screen and (max-width: 1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 23px;
    }
    .nav-left {
        flex-direction: column;
        text-align: center;
    }
    .content-right {
        display: none;
    }
    .home-article {
        flex-direction: column;
    }
    .home-article-img {
        text-align: center;
    }
    .home-article img {
        width: 75vw;
    }
    .year-box {
        top: 25px;
        left: 60vw;
        font-size: 11px;
        display: flex;
    }
    .year-box div {
        padding: 0 6px;
        margin: 0;
    }
    .form-input {
        width: 50%;
    }
    .form-box input, textarea {
        width: 66vw;
    }
    .row {
        flex-direction: column;
    }
    .social {
        padding: 0;
    }
    .post-img {
        height: auto;
    }
    .adjust-year {
        position: static;
        height: auto;
        padding: 12px 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}