@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:wght@300&display=swap');
:root {
    --main-bg-color: rgb(233, 152, 1);
    --font1: 'Baloo Bhai 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font-1 {
    font-family: var(--font1);
}

.font-2 {
    font-family: var(--font2);
}

.center {
    text-align: center;
}

.mx-1 {
    margin-left: 23px;
    margin-right: 23px;
}

.mx-2 {
    margin-left: 50px;
    margin-right: 50px;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.my-2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}

.form-box input, textarea {
    width: 50vw;
    padding: 0px 6px;
    margin: 7px 0px;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid rgb(233, 152, 1);
    border-radius: 5px;
}